.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 450px;
}
.container > p {
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    margin-bottom: 12px;
}
.logo{
    margin-bottom: 25px;
}
.wrapper{
    border: 1px solid #E0E7EA;
    padding: 20px;
    width: 80%;
    border-radius: 5px;
    text-align: center;
}
.accept{
    margin-top: 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    font-weight: 500;
}
.rules{
    display: block;
    font-size: 14px;
    margin: 10px 0;
}
.submit_btn{
    margin-top: 10px;
    width: 100%;
    background: #21A95D;
    border: none;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
}
.input{
    width: 100%;
}

.validate_text{
    margin: 5px;
    color: red;
}

.input input::-webkit-outer-spin-button,
.input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input input[type=number] {
  -moz-appearance: textfield;
}

.back{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 14px;
}

.back__icon{
    color: #21A95D;
    margin-right: 16px;
    cursor: pointer;
}

.login__email__text{
    margin-top: 30px;
    font-size: 18px;
}

.login__email__text:first-child{
    margin-bottom: 30px;
}

.active{
    color: #21A95D;
    text-decoration: underline;
}
