.wrapper {
  background: #8259e0;
  color: #ffffff;
  text-align: center;
  padding: 50px 0;
  margin-bottom: -10%;
}
.btnWrapper {
  background: #ffffff;
  width: 500px;
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 0 0 15px 15px;
}
.btn {
  padding: 15px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #8259e0;
  background: #8259e0;
  border-radius: 5px;
  color: #ffffff;
  box-sizing: border-box;
}
.btn:focus {
  outline: none;
}
.btn:first-child {
  margin-right: 15px;
  color: #21a95d;
  border: 1px solid #21a95d;
  background: none;
}
.testBtn {
  margin: 15px 0 0 0;
  color: #ffffff;
  border: 1px solid #ffffff;
  background: none;
  padding: 15px;
  font-size: 16px;
  width: 200px;
  background: #8259e0;
  border-radius: 5px;
  box-sizing: border-box;
}
.name {
  font-weight: 500;
}
.question {
  background: #ffffff;
  padding: 15px 20px;
  width: 500px;
  color: #000000;
  border-radius: 7px;
  margin: 30px auto 10px auto;
  text-align: left;
}

.question > div {
  font-size: 14px;
  color: #7e7e7e;
  margin-bottom: 15px;
}

.question > h3 {
  font-weight: 500;
}
.group {
  background: #ffffff;
  padding: 15px 20px;
  width: 500px;
  border-radius: 15px 15px 0 0;
  margin: 20px auto 0 auto;
  display: flex;
  flex-direction: column;
}

.borderBottom {
  border-radius: 15px;
}

.answer {
  background: #e0e7ea;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.radio {
  /*display: none;*/
  opacity: 0;
  width: 0;
  height: 0;
}
.radio[type="radio"]:checked + .answer {
  background: #8259e0;
  color: #ffffff;
}
.variant {
  font-weight: 600;
  background: #ffffff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.correct {
  background: #21a95d;
  color: #ffffff;
}
.error {
  background: #eb5757;
  color: #ffffff;
}

.modalWrapper > div {
  cursor: pointer;
  font-weight: 600;
}

.getResult {
  color: #21a95d;
  margin: 25px 0 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e7ea;
}

@media (max-width: 768px) {
  .group {
    border-radius: 49px 49px 0 0;
    padding: 35px 40px;
    width: 80%;
  }
  .btnWrapper {
    width: 80%;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 0 0 49px 49px;
  }
  .question {
    width: 75%;
  }
  .btn {
    border-radius: 15px;
    margin: 10px 0 10px 0;
  }
  .btn:first-child {
    margin-right: 15px;
  }
}

@media (max-width: 360px) {
  .group {
    border-radius: 49px 49px 0 0;
    padding: 15px 20px;
    width: 100%;
  }
  .btnWrapper {
    width: 100%;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 0 0 49px 49px;
  }
  .question {
    width: 95%;
  }
  .btn {
    border-radius: 15px;
    margin: 10px 0 10px 0;
  }
  .btn:first-child {
    margin-right: 0;
  }
}
