.wrapper {
    background: #8259E0;
    color: #FFFFFF;
    text-align: center;
    padding: 50px 0;
    margin-bottom: -10%;
}
.btnWrapper {
    background: #FFFFFF;
    width: 500px;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 0 0 15px 15px;
}
.btn {
    padding: 15px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #8259E0;
    background: #8259E0;
    border-radius: 5px;
    color: #FFFFFF;
    box-sizing: border-box;
}
.btn:focus {
    outline: none;
}
.btn:first-child {
    margin-right: 15px;
    color: #21A95D;
    border: 1px solid #21A95D;
    background: none;
}
.testBtn {
    margin: 15px 0 0 0;
    color: #ffffff;
    border: 1px solid #ffffff;
    background: none;
    padding: 15px;
    font-size: 16px;
    width: 200px;
    background: #8259E0;
    border-radius: 5px;
    box-sizing: border-box;
}
.name {
    font-weight: 500;
}
.question {
    background: #FFFFFF;
    padding: 15px 20px;
    width: 500px;
    color: #000000;
    border-radius: 7px;
    margin: 30px auto 10px auto;
    text-align: left;
}

.question > div {
    font-size: 14px;
    color: #7E7E7E;
    margin-bottom: 15px;
}

.question > h3 {
    font-weight: 500;
}
.group {
    background: #FFFFFF;
    padding: 15px 20px;
    width: 500px;
    border-radius: 15px 15px 0 0;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.borderBottom {
    border-radius: 15px;
}

.answer {
    background: #E0E7EA;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.radio {
    /*display: none;*/
    opacity: 0;
    width: 0;
    height: 0;
}
.radio[type="radio"]:checked + .answer {
    background: #8259E0;
    color: #FFFFFF;
}
.variant {
    font-weight: 600;
    background: #FFFFFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.correct {
    background: #21A95D;
    color: #FFFFFF;
}
.error {
    background: #EB5757;
    color: #FFFFFF;
}

.modalWrapper > div{
    cursor: pointer;
    font-weight: 600;
}

.getResult{
    color: #21A95D;
    margin: 25px 0 15px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E7EA;
}