.container{
    padding: 5% 12% 5% 12%;
}
.container_slider{
    margin: 5% 0;
}

.list{
    margin: 0 11% 0 0;
    list-style: none;
    padding: 0 150px 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #7E7E7E;
    display: flex;
    align-items: flex-start;
    border-bottom: 2px solid #E0E7EA;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.point{
    font-size: 45px;
    border-radius: 100%;
}
.box_card{
    margin: 4% 0 0 0;
    display: flex;
    flex-direction: column;
}


.active{
    color: #21a95d !important;
}
