.header {
  margin-top: 50px;
  border: 1px solid #e0e7ea;
  border-radius: 14px;
  padding: 50px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgWrapper {
  flex-basis: 40%;
}
.imgWrapper > img {
  width: 100%;
}
.info__block {
  display: flex;
  align-items: center;
  margin: 25px 0;
  color: #8259e0;
}
.gray {
  color: #7e7e7e;
}
.info__block > span {
  margin-left: 15px;
  font-size: 15px;
}

.actions {
  padding: 15px calc(12% + 140px) !important;
  transform: translateY(-15px);
  display: flex;
}
.action {
  margin-right: 55px;
  display: flex;
  align-items: center;
}
.action > span {
  margin-top: 2px;
  margin-left: 8px;
}
.contentWrapper {
  padding: 20px calc(12% + 140px);
}
.activeLink {
  color: #21a95d !important;
}
.content__header {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}
.content__header > a {
  margin: 0 35px 0 0;
  color: #7e7e7e;
}

@media (max-width: 768px) {
  .header {
    border: none;
    display: inline;
  }
  .contentWrapper {
    padding: 0 5%;
  }
  .actions {
    padding: 15px calc(12%) !important;
    display: flex;
    justify-content: space-between;
  }
  .info__block > span {
    font-size: 18px;
  }
  .content__header {
    font-size: 20px;
  }
}

@media (max-width: 992px) and (min-width: 769px) {
  .imgWrapper {
    flex-basis: 40%;
  }
  .header {
    margin-top: 50px;
    padding: 5% 0;
    display: flex;
    justify-content: space-around;
    border: none;
  }
  .actions {
    padding: 15px calc(12%) !important;
    display: flex;
    justify-content: space-around;
  }
  .contentWrapper {
    padding: 2% 12%;
    display: flex;
    justify-content: space-around;
  }
  .info__block > span {
    font-size: 18px;
  }
  .content__header {
    font-size: 20px;
  }
}
