.wrapper{
    position: absolute;
    right: 12%;
    display: flex;
    flex-direction: column;
}
.wrapper > img {
    margin-bottom: 10px;
    height: 45px;
    cursor: pointer;
}

.link {
    color: #21A95D;
    font-size: 18px;
    padding: 15px 0;
}
.link:first-child {
    border-bottom: 2px solid #E0E7EA;
}