.wrapper {
  position: absolute;
  right: 12%;
  display: flex;
  flex-direction: column;
}
.wrapper > img {
  margin-bottom: 10px;
  height: 45px;
  cursor: pointer;
}

.link {
  font-size: 18px;
  padding: 15px 0;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  background: none;
}
.link:first-child {
  border-bottom: 2px solid #e0e7ea;
}
.link:nth-child(2) {
  color: #21a95d !important;
}

.like_btn{
  background: none;
  border: none;
}

@media screen and (max-width: 768px) {
  .wrapper {
    transform: translateY(-100%);
  }
}
@media screen and (min-width: 769px) {
  .wrapper {
    transform: translateY(-100%);
  }
}
