.content {
  min-width: 24%;
  height: 330px;
  background: #cfd8dc;
  border-radius: 5px;
  margin: 1.25% 0.5%;
}

.text {
  padding-left: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.img {
  border-radius: 50%;
  text-align: center;
  display: block;
  margin: 7% auto;
}

.text1 {
  font-weight: normal;
  font-size: 18px;
  color: #21a95d;
  margin-top: 5%;
}

.text2 {
  font-weight: 500;
  font-size: 24px;
  color: #0b0d34;
  margin: 5% 0;
}

.text3 {
  font-weight: normal;
  font-size: 18px;
  color: #8259e0;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}
