.title{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    margin: 2% 0;
}
.box_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}