.title{
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    margin: 2% 0;
    color: #0B0D34;
}
.box_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 767px){
    .box_cards{
        flex-direction: column;
    }
    .title{
        margin: 5% 0;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
    }
}