.container{
    background: #0B0D34;
    color: #FFFFFF;
}
footer{
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
    padding: 2% 15% 2% 12%;
}
.logo > img {
    margin: 10% 0;
    font-size: 12px;
}
.contacts > div{
    margin: 15% 0;
}
.address > div{
    margin: 3% 0;
}
.phone > span {
    margin: 0 5%;
}
.list > li {
    list-style: none;
    margin: 27% 0;
}
.box_social{
    margin: 1.2% 0 0 0;
    width: 20%;
}
.box_social > div{
    margin: 7% 0;
}
.whatsapp{
    margin: 0 10%;
}

@media (max-width: 767px){
    footer{
        flex-direction: column;
        padding: 5% 10%;
    }
    .logo > div{
        display: none;
    }
    .logo > img {
        margin: 5% 0;
    }
    .list > li{
        margin: 12% 0;
    }
    .list > li:first-child{
        margin: 5% 0;
    }
    .contacts > div{
        margin: 10% 0;
    }
    .box_social{
        width: 100%;
    }
}