
.logout__header{
    font-size: 24px;
    margin-bottom: 50px;
}

.logout__text{
    font-size: 18px;
    color: #FF2E2E;
    margin-bottom: 20px;
    cursor: pointer;
}

.logout__back{
    color: #21A95D;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 4px;
    cursor: pointer;
}