.view{
    display: flex;
    justify-content: space-between;
}

.viewLeft, .viewRight{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #7E7E7E;
    grid-gap: 8px;
}

.mainText{
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    margin-top: 15px;
}

.subText{
    color: #21A95D;
    font-size: 18px;
    line-height: 21px;
    margin-top: 8px;
}

.description{
    width: 142px;
    color: #7E7E7E;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 10px;
    text-overflow: ellipsis;
}