.video:first-child {
    border-top: 2px solid #E0E7EA;
}

.video {
    border-bottom: 2px solid #E0E7EA;
    padding: 20px 0;
    display: flex;
}

.imgWrapper {
    width: 140px;
    height: 85px;
    position: relative;
}
.imgWrapper > img {
    width: 100%;
    height: 100%;
}
.info {
    width: calc(100% - 160px);
    display: flex;
    flex-direction: column;
}
.title {
    margin: 0 0 10px 20px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title:hover, .title:focus {
    text-decoration: underline;
}
.description {
    margin: 0 0 0 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35px !important;
    height: 35px !important;
}