.wrapper {
  padding: 2% 12%;
  width: 100%;
  height: 437px;
  background: #f2f2f2;
}

.city,
.item,
.text_wrapper,
.group,
.container {
  display: flex;
}

.city_item {
  width: 128px;
  height: 21px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #21a95d;
  margin-right: 16px;
}

.vector {
  width: 12px;
  height: 7.41px;
  margin-right: 51px;
}

.vector > img {
  width: 100%;
  height: 100%;
}

.search {
  width: 17.49px;
  height: 17.49px;
}

.search > img {
  width: 100%;
  height: 100%;
}

.left_block {
  width: 692px;
  height: 312px;
  background: #d5d5d5;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  line-height: 312px;
  margin: 26px 25px 26px 0;
}

.group,
.container {
  align-items: center;
  width: 483px;
  height: 146px;
  background: #ffffff;
  border-radius: 10px;
}

.group {
  margin: 26px 0 18px 0;
}

.group_img {
  width: 110.95px;
  height: 82.75px;
  margin: 0 39px 0 56px;
}

.group_img > img,
.container_img > img {
  width: 100%;
  height: 100%;
}

.container_img {
  width: 138.6px;
  height: 132px;
  margin: 0 24.4px 0 43px;
}

.group > div,
.container > div {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.btn {
  position: absolute;
  width: 300px;
  height: 52px;
  left: 510px;
  top: 494px;
  background: #21a95d;
  border-radius: 5px;
  border: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
