.menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  transform: translate(-100%);
  transition: 0.4s;
}

.blur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  position: absolute;
}

.logo > img {
  height: 33px;
  width: 107px;
}

.menu_content {
  position: relative;
  height: 100%;
  width: 80%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 5% 12%;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  color: #0b0d34;
  font-weight: normal;
  font-style: normal;
}

.burger_title {
  display: flex;
  flex-direction: column;
}

.item {
  margin: 25px 0;
}

.close {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.close > img {
  width: 100%;
}
@media (max-width: 1024px) {
  .menuActive {
    transform: translate(0);
  }
}
